@import "tailwindcss";

@theme {
  --color-x-color: #6200ea; /* Placeholder for custom color variable */
  --color-1-bg: #121212;
  --color-2-bg: #171717;
  --color-1-text: #ffffff;
  --color-2-text: #a0a0a0;
  --color-dark-text: #040404;
  --color-1-border: #2c2c2c;
  --color-1-accent: #ffa500;
  --color-1-hover: #cc8400;
  --color-1-error: #991b19;
  --color-1-success: #4caf50;
  --color-1-shadow: rgba(0, 0, 0, 0.1);
  --color-2-shadow: rgba(0, 0, 0, 0.2);
  --color-1-link: #1e90ff;
  --color-1-link-hover: #1c86ee;
  --color-1-button-bg: #6200ea;
  --color-1-button-text: #ffffff;
  --color-1-button-hover: #3700b3;
  --color-1-button-active: #3700b3;
  --color-1-button-disabled: #9e9e9e;
  --card-width: 420px;
}

.card {
  width: var(--card-width);
}

.input_main_hanyu {
  /* w-full h-64 text-9xl bg-1-hover text-dark-text placeholder:text-2-bg text-center rounded-md focus:bg-2-text/30 focus:text-1-accent focus:outline-2 focus:outline-2-bg */

  width: 100%;
  height: 220px;
  font-size: 10rem;
  background-color: var(--color-1-hover);
  color: var(--color-dark-text);
  text-align: center;
  border-radius: 0.375rem; /* rounded-md */
  outline: 0;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;

  &::placeholder {
    color: var(--color-dark-text)/70; /* bg-2-text */
    }

  &:focus {
    background-color: var(--color-2-text)/30;
    color: var(--color-1-accent);
    outline: 2px solid var(--color-1-accent);
    box-shadow: 0 2px 4px var(--color-1-shadow);
  }
}


.input_hanyu{
  width: 100%;
  height: 64px;
  font-size: 2rem;
  background-color: var(--color-1-hover);
  color: var(--color-dark-text);
  text-align: center;
  border-radius: 0.375rem; /* rounded-md */
  outline: 0;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;

  &::placeholder {
    color: var(--color-dark-text)/70; /* bg-2-text */
    }

  &:focus {
    background-color: var(--color-2-text)/30;
    color: var(--color-1-accent);
    outline: 2px solid var(--color-1-accent);
    box-shadow: 0 2px 4px var(--color-1-shadow);
  }
}

.btn_main_hanyu {
  width: 100%;
  height: 64px;
  font-size: 2rem;
  background-color: var(--color-1-link);
  color: var(--color-dark-text);
  border-radius: 0.375rem; /* rounded-md */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: var(--color-1-button-hover);
    color: var(--color-1-hover);
  }
}
