@import "tailwindcss";

@theme {
  --color-x-color: #6200ea;
  --color-dark-bg: #121212;
  --color-dark-2-bg: #171717;
  --color-x-text: #ffffff;
  --color-light-text: #a0a0a0;
  --color-dark-text: #040404;
  --color-x-border: #2c2c2c;
  --color-x-accent: #ffa500;
  --color-x-hover: #cc8400;
  --color-x-error: #991b19;
  --color-x-success: #4caf50;
  --color-x-shadow: rgba(0, 0, 0, 0.1);
  --color-light-shadow: rgba(0, 0, 0, 0.2);
  --color-x-link: #1e90ff;
  --color-x-link-hover: #1c86ee;
  --color-x-button-bg: #6200ea;
  --color-x-button-text: #ffffff;
  --color-x-button-hover: #3700b3;
  --color-x-button-active: #3700b3;
  --color-x-button-disabled: #9e9e9e;
  --min-card-width: 375px;
  --max-card-width: 460px;
  /* min width from google chrome*/
}

html {
  width: 100%;
  min-width: var(--min-card-width);
  min-height: 100dvh;
  background-color: var(--color-dark-bg);
  color: var(--color-x-hover);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.page-box {
  background-color: var(--color-dark-bg);
}

.h1-main {
  padding: 64px 0;
  font-size: 5em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.input-box-container {
  width: 100%;
  max-width: var(--max-card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-form {
  width: 100%;
  min-width: var(--min-card-width);
  display: flex;
  flex-direction: column;
  gap: .05rem;
}

.input-hanzi {
  width: 100%;
  height: 270px;
  font-size: 10rem;
  background-color: var(--color-x-hover);
  color: var(--color-dark-text);
  text-align: center;
  border-radius: 0.35rem 0.35rem 0 0;
  outline: 0;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;

  &::placeholder {
    color: var(--color-dark-2-text);
  }

  &:focus {
    background-color: var(--color-light-text)/30;
    color: var(--color-x-accent);
    outline: 2px solid var(--color-x-accent);
    box-shadow: 0 2px 4px var(--color-x-shadow);
  }
}


.input-hanyu {
  width: 100%;
  height: 64px;
  font-size: 2rem;
  background-color: var(--color-x-hover);
  color: var(--color-dark-text);
  text-align: center;
  outline: 0;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;

  &::placeholder {
    color: var(--color-dark-2-text);
  }

  &:focus {
    background-color: var(--color-light-text)/30;
    color: var(--color-x-accent);
    outline: 2px solid var(--color-x-accent);
    box-shadow: 0 2px 4px var(--color-x-shadow);
  }
}

input[type="file"]::file-selector-button {
  background-color: var(--color-dark-bg);
  color: var(--color-x-bg);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}


.btn-main-hanyu {
  width: 100%;
  height: 64px;
  font-size: 2rem;
  background-color: var(--color-x-hover);
  color: var(--color-dark-text);
  border-radius: 0 0 0.35rem 0.35rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: var(--color-x-accent);
    color: var(--color-dark-bg);
  }
}

.hanyu-table-container {
  background-color: var(--color-dark-bg);
  color: var(--color-x-bg);
  /* bg-x-bg text-x-hover/70 mt-12 */
}

.hanyu-table-article {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.hanyu-table-div {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  overflow: hidden;
  /* lg: w-1/2 w-full mx-auto overflow-hidden */
}

.table {
  table-layout: auto;
  /* table-layout: fixed; */
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  white-space: pre-wrap;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
}

.table-header .header-row {
  font-size: 2.5rem;
  background-color: var(--color-x-accent);
  color: var(--color-dark-text);
}

.cell {
  padding: 12px 16px;
  font-size: 16px;
  border-bottom: 1px solid var(--color-light-text);
}

.first-col {
  border-top-left-radius: 8px;
  /* border-bottom-left-radius: 8px; */
  color: var(--color-dark-text);
}

.end-col {
  border-top-right-radius: 8px;
  color: var(--color-dark-text);
}

.delete-col {
  color: var(--color-x-hover);
}

.tone-col {
  display: none;
}

.table-body .hanzi {
  font-size: 1.5rem;
}

.table-body tr:hover {
  background-color: var(--color-x-link);
  cursor: pointer;
}

.table-footer {
  background-color: #333;
  color: #333;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {

  .tone-col,
  .delete-col {
    display: table-cell;
  }
}
